
<div class="story-body">
  <p>The local government set up 36 detectors all over the city to monitor emission levels, the majority of which are concentrated in the municipal area. Any day with an average PM2.5 concentration level above 100 is considered as “severely polluted” and "very unhealthy" for human beings.</p>
  <p>Data from each of the detector has showed that all of locations have seen the number of pollution days declined from 2015 to 2018. For example, in Qianmen, which is besides Tiananmen Square, the number of pollution days halved to 49 days in 2018, compared to 109 days in 2015.</p>
</div>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<div id='map'></div>
<figure class="detector"></figure>

<div class="story-body">
<p class='chart-source'>Source:  </p>
<p></p>
<script src="scripts/mapbox.js"></script>
</div>
